name: ci

on:
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "**/*.png"
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.png"

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Checks and unit tests
        run: ./checks.sh
      - name: Store test results
        if: success() || failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: test-results
          path: |
            **/build/reports/tests/testDebugUnitTest/**/*
            **/build/test-results/testDebug*/TEST-*.xml
            **/build/test-results/test/TEST-*.xml
            **/build/outputs/androidTest-results/**/TEST-*.xml

  # The very last job to report whether the Workflow passed.
  # This will act as the Branch Protection gatekeeper
  ci:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - checks
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@f15e5228b7eb0eff4e1734e0af22a3fd40928bf6 # v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}