name: ci

on:
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "**/*.png"
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.png"

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Checks and unit tests
        run: ./checks.sh
      - name: Store test results
        if: success() || failure()
        uses: actions/upload-artifact@v5
        with:
          name: test-results
          path: |
            **/build/reports/tests/testDebugUnitTest/**/*
            **/build/test-results/testDebug*/TEST-*.xml
            **/build/test-results/test/TEST-*.xml
            **/build/outputs/androidTest-results/**/TEST-*.xml

  # The very last job to report whether the Workflow passed.
  # This will act as the Branch Protection gatekeeper
  ci:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - checks
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}